h1 {
  font-family: "Allura", cursive;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
}

.header-image {
  width: 200px;
  background-color: transparent;
}

.nav-item {
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  color: black;
}

.tab-color {
  color: #ff8063;
}

@media only screen and (min-width: 768px) {
  .nav-item {
    font-size: 18px;
  }
}
