<header class="header">
  <!-- <h1>DIVine Recipes</h1> -->
  <img src="/assets/test.png" width="150px" alt="" />
  <nav>
    <a
      routerLink="/recipe-list"
      class="nav-item"
      (click)="changeClicked('home')"
      [ngClass]="{ 'tab-color': checkClicked('home') }"
      >Home</a
    >
    <a
      routerLink="/favorites"
      class="nav-item"
      (click)="changeClicked('favorites')"
      [ngClass]="{ 'tab-color': checkClicked('favorites') }"
      >Favorites</a
    >
  </nav>
</header>
