.recipe-div {
  width: 175px;
  height: 225px;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  margin: 5px;
  background-color: white;
}

.list-item {
  list-style: none;
  text-align: center;
}

.list-item-title {
  font-size: 14px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  object-fit: cover;
  height: 125px;
}

.recipe-options {
  margin-top: 3px;
  display: flex;
  justify-content: space-between;
}

.calories-text {
  font-size: 12;
}

.popUp {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popUp-button {
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: white;
  border: none;
  font-size: 20px;
  padding: 5px;
}

.information-container {
  position: relative;
  width: 350px;
  height: 350px;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
}

.list {
  list-style: none;
}

.info-name {
  text-align: center;
  color: #ff8063;
  text-decoration: underline;
  font-size: 16.5px;
}

.info-title {
  margin: 8px 0px;
  font-size: 13.5px;
}

.info {
  font-size: 12.5px;
}

/* tooltip start */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 12px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: 75%;
  left: -35px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media only screen and (min-width: 768px) {
  .recipe-div {
    width: 200px;
    height: 250px;
  }
  .list-item-title {
    font-size: 15px;
    height: 60px;
  }
  .image {
    height: 140px;
  }
  .information-container {
    width: 400px;
    height: 400px;
  }
  .info-name {
    font-size: 18px;
  }

  .info-title {
    font-size: 15px;
  }

  .info {
    font-size: 14px;
  }
}
