.input-bar {
  padding: 10px;
  border-radius: 10px;
  border: none;
  /* border-bottom: 1px solid black; */
}

.search-form {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.submit-button {
  margin: 10px;
  padding: 10px;
  background: linear-gradient(to left, #ff8063, #fff47d);
  border: 1.5px solid black;
  border-radius: 10px;
}

.select {
  padding: 5px;
  border-radius: 5px;
  border: none;
}
