<form
  #searchForm="ngForm"
  (ngSubmit)="emitSubmitEvent(searchForm)"
  class="search-form"
>
  <input
    class="input-bar"
    type="text"
    name="searchTerm"
    id="searchTerm"
    placeholder="Enter a search term"
    ngModel
  />
  <label for="diet">Diet Preferences:</label>
  <select class="select" name="diet" id="diet" ngModel>
    <option value="Balanced">Balanced</option>
    <option value="High-Protein">High Protein</option>
    <option value="Low-Fat">Low Fat</option>
    <option value="Low-Carb">Low Carb</option>
  </select>
  <label for="health">Health Preferences:</label>
  <select class="select" name="health" id="health" ngModel>
    <option value="Vegetarian">Vegetarian</option>
    <option value="Vegan">Vegan</option>
  </select>
  <button class="submit-button">Submit</button>
</form>
