.input {
  position: relative;
  flex: 1;
  margin: 5px 10px;
}

.logo {
  width: 100px;
  height: 50px;
}

.fa-search {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
  color: darkgray;
}

.input-bar {
  padding: 10px;
  box-sizing: border-box;
  padding-left: 30px;
  border-radius: 10px;
  border: none;
  width: 100%;
}

.search-form {
  display: flex;
  flex-direction: column;
  padding: 5px 25px;
  width: 100%;
}

.search-image {
  background-image: url("https://hips.hearstapps.com/del.h-cdn.co/assets/15/30/1437685586-delish-cherry-pastry-pies.jpg");
  height: 190px;
  background-repeat: repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
}

.submit-button {
  margin: 10px;
  padding: 10px;
  background: linear-gradient(to left, #ff8063, #fff47d);
  border: 1.5px solid black;
  border-radius: 10px;
}

.select-div {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 5px 10px;
  justify-content: space-between;
}

.label {
  width: 200px;
  font-weight: 600;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: left;
}

.diet {
  width: 155px;
}

.select {
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-left: 5px;
  width: 50%;
}

@media only screen and (min-width: 768px) {
  .search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .input-bar {
    width: 90%;
  }
  .label {
    text-align: right;
  }
}
