/* You can add global styles to this file, and also import other style files */
h1,
h2,
h3,
p,
ul,
button {
  margin: 0;
  padding: 0;
  font-family: "PT Serif", serif;
}

html {
  height: 100%;
}

body {
  background: linear-gradient(to right, #ff8063, #fff47d);
  margin: 10px;
  padding: 0;
  height: 100%;
}

.red {
  color: red;
}

.recipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
