/* You can add global styles to this file, and also import other style files */
h1,
h2,
h3,
p,
ul,
button,
body {
  margin: 0;
  padding: 0;
  font-family: "PT Serif", serif;
}

body {
  background: linear-gradient(to right, #ff8063, #fff47d);
  overflow-x: hidden;
  overflow-y: scroll;
}

html {
  height: 100%;
}

.red {
  color: red;
}

.recipe-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding-bottom: 45px;
}
